<h3>Home Content
	<small>Keeping track of home content</small>
</h3>
<div class="table-grid home">
	<div class="col">
		<div class="pr-lg">
			<form ng-submit="home.addHome(home)" class="mb-xl">
				<div class="form-group">
					<input ng-trim="true" type="text" ng-model="home.home.$id" placeholder="Home title.." required="required" class="form-control" ng-disabled="true"/>
				</div>
				<div class="form-group">
					<!-- Wysiswyg editor-->
					<div text-angular="" ng-model="home.home.html" name="wysiswyg-editor" class="btn-group-small"></div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" ng-disabled="!home.editingHome">Save Home Content</button>
			</form>
		</div>
	</div>
	<div class="col col-lg home-item-list">
		<div ng-show="!home.items.length" class="lead text-muted text-center">No home...</div>
		<uib-accordion close-others="true">
			<uib-accordion-group ng-repeat="item in home.items" is-disabled="item.complete" class="home-item">
				<uib-accordion-heading>
					<span ng-bind="item.$id" class="home-title"></span>
					<span ng-click="home.editHome($index, $event)" class="home-edit fa fa-pencil"></span>
				</uib-accordion-heading>
				<p>
					<span ng-bind-html="item.html"> </span>
					<span ng-if="item.html === ''" class="text-muted">No item content</span>
				</p>
			</uib-accordion-group>
		</uib-accordion>
	</div>
</div>