.addjust
{

    float:right;

}
.mr-10{
    margin-right:10px;
}

.selected:focus{
  
  border:1px solid red !important;
   
  
}




.imgSelect {
    border:2px solid green;
    border-radius:50%
}


.imgNonSelect {

}