<div class="right_col" role="main">
    <div class="">
        <!--<div class="page-title">
            <div class="title_left">
                <h3> Media Gallery <small> gallery design</small> </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="clearfix"></div>

        

        <div class="row">

            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Equitrack Front End  <small>Website dynamic content</small></h2>
                        <!--<ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left">




                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Report Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    <input type="text" id="name" style="width:100%;padding-left: 5px" />


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Id</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    <input type="text" id="email" style="width:100%;padding-left: 5px" />


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Expiry</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    <!--<input type="text" id="expiry" style="width:100%;padding-left: 5px" />-->

                                    <datepicker date-format="MM/dd/yyyy">
                                        <input type="text" class="form-control" id="expiry" ng-model="stbadd.birthday" placeholder="MM/DD/YY" value="July, 16th, 2009">
                                    </datepicker>

                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                   General Data
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="horsename" class="flat" checked="checked" disabled> Horse Name
                                        </label>
                                    </div>
                                    </div>
                                

                                 
                                </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                    Associations
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Associations1" class="flat"> Association 1
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Associations2" class="flat"> Association 2
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Associations3" class="flat"> Association 3
                                        </label>
                                    </div>
                                </div>


                               


                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                    
                                </label>

                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Associations4" class="flat"> Association 4
                                        </label>
                                    </div>
                                </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                        Ride Details
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="hours" class="flat"> Ride Hours
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="distance" class="flat"> Ride Distance
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="cords" class="flat"> Coordinates
                                            </label>
                                        </div>
                                    </div>


                                </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">

                                </label>

                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="ridecount" class="flat"> No of rides
                                        </label>
                                    </div>
                                </div>
                            </div>


                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                        Speed
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="topspeed" class="flat"> Top Speed
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="avgspeed" class="flat"> Avarage Speed
                                            </label>
                                        </div>
                                    </div>




                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                        Other Details
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="energy" class="flat"> Energy Burned
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary" ng-click="Cancle()">Cancel</button>
                                        <button type="submit" class="btn btn-success" ng-click="Action()">Submit</button>
                                        <button type="submit" class="btn btn-danger" ng-click="Delete()" ng-show="editId != -1">Delete</button>
                                    </div>
                                </div>

</form>
                    </div>
                </div>
            </div>

        </div>


        <div class="row" ng-show="showSendContent">

            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Send Report Download link to the external customer</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left">




                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Download Link</label>
                                
                                <label class="col-md-6 col-sm-6 col-xs-12">
                                <a href="{{DownloadLink}}" target="_blank">{{DownloadLink}}</a>
                                </label>

                            </div>

                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" ng-click="SendMail()">Send Mail</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>