<div class="right_col" role="main">
    <div class="">
                <div class="clearfix"></div>
                <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <!--<div class="x_title">
                        <h2>Equitrack Front End  <small>Announcement TitleWebsite dynamic content</small></h2>
                         <div class="clearfix"></div>
                    </div>-->

                    <div class="row tile_count">

                        <div class="col-md-3 text-left">
                            <img src="https://firebasestorage.googleapis.com/v0/b/myequitrack.appspot.com/o/profile%2F640.jpg?alt=media&token=64fbbbfb-7d8d-4a06-8d60-5b3867eabaa6" style="width:120px;">
                        </div>
                        <div class="col-md-9 text-center">
                            <h3 class="text-uppercase green" style="margin-top:30px;"> AQHA - American Quarter Horse Association</h3>
                        </div>

                    </div>
                    <hr style="height:1px;width:100%;background-color:#eed093;">

                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left">
                            <div class="form-group" >
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select option</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->
                                    <select id="optionType" class="form-control" style="width:50% !important;" ng-click="option()" ng-disabled="editId != -1">

                                        <option>Text</option>
                                        <option>Image</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    
                                    </div>
                                </div>
                            <div class="form-group" ng-show="selectoption=='Text'">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Announcement Title</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->
                                    <input type="text" id="title" class="form-control" placeholder="Announcement Title">
                                </div>
                            </div>

                            <div class="form-group" ng-show="selectoption=='Text'">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Announcements</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->
                                    <textarea class="form-control" rows="5" id="name"></textarea>
                                  </div>
                            </div>
                            <div class="form-group" ng-show="selectoption=='Image'">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Uplode Image</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <img ng-src="{{Question.MessageImage}}" style="width:400px; padding-bottom: 10px;">
                                    <input type="file" id="trigger" onchange="angular.element(this).scope().setFile(this)">


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Embedded link</label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->
                                    <input type="text" id="link"class="form-control" placeholder="Enter a link" >
                                </div>
                                <label class="control-label col-md-1 col-sm-3 col-xs-12">Link Title</label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->
                                    <input type="text" id="linktitle" class="form-control" placeholder="Enter link Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Announcement Type</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                   
                                       
                                            <img style="cursor:pointer;margin-left:5px;" ng-repeat="icon in icons" class="selected" ng-src="{{icon.url}}" width="30" ng-click="imageSelect(icon.id)">
                                   
                                        </div>
                                       
                                      
                                        <!--<div class="col-md-1">
                                            <img style="cursor:pointer"  src="images/important_icon.png" width="30" />
</div>
                                        <div class="col-md-1">
                                          <img style="cursor:pointer"  src="images/news_icon.png" width="30" />
</div>
                                        <div class="col-md-1">
                                          <img style="cursor:pointer"  src="images/Horse_icon.png" width="30" />
</div>
                                        <div class="col-md-1">
                                            <img style="cursor:pointer"  src="images/happy_icon.png" width="30" />
</div>-->
                                        </div>
                                    <!--<input type="text" id="name" style="width:100%;padding-left: 5px" />-->

                                    <!--<input type="text" class="form-control" placeholder="">-->
                                    <!--<input type="text" class="form-control" placeholder="Status">-->


                                   

                                </div>
                            </form>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Validity</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <datepicker date-format="MM/dd/yyyy">
                                        <input type="text" class="form-control" id="expiry"  placeholder="MM/DD/YY" >
                                    </datepicker>

                                </div>
                            </div>

                                    <br />
                                   <div class="form-group" >
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 pt-10" >
                                        <button type="submit" class="btn btn-primary" ng-click="Cancle()">Cancel</button>
                                        <button type="submit" class="btn btn-success" ng-click="Action()">Submit</button>
                                        <button type="submit" class="btn btn-danger" ng-click="Delete()" ng-show="editId != -1">Delete</button>
                                    </div>
                                </div>
                           
                    </div>
                </div>
            </div>

        </div>
         </div>
