<div class="right_col" role="main" ng-if="user.Role == 'SuperAdmin'">
    <div class="" >
      
          <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/images">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                        <div class="count">1</div>
                        <h3>Images</h3>
                        <p>Manage Logo and background Images.</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/pages">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comments-o"></i></div>
                        <div class="count">2</div>
                        <h3>Pages</h3>
                        <p>Manage Dynamic pages.</p>
                    </div>
                    </a>
</div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                    <div class="count">3</div>
                    <h3>Static Content</h3>
                    <p>Manage Header , Footer& Static Content</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count">4</div>
                    <h3>Dynamic Content </h3>
                    <p>Manage Sponsers & FAQ data.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="" ng-if="user.Role != 'SuperAdmin'">

        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/ridedetails">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                        <div class="count">1</div>
                        <h3>Ride Details</h3>
                        <p>View All Users,Horses and Ride Details.</p>
                    </div>
                </a>
            </div>
            <!--<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/orghorses/-1">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comments-o"></i></div>
                        <div class="count">2</div>
                        <h3>Horses</h3>
                        <p>View All horses from all riders.</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/orgrides/-1">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                        <div class="count">3</div>
                        <h3>Rides</h3>
                        <p>View All Rides taken by riders</p>
                    </div>
                </a>
            </div>-->
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="#/orgreport/-1">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-check-square-o"></i></div>
                        <div class="count">2</div>
                        <h3>Reports </h3>
                        <p>View Grouped data and report.</p>
                    </div>
                </a>
</div>
        </div>

    </div>
</div>



<div class="right_col" role="main" ng-if="user.Role == 'Organisation'">

    <!--<div class="row tile_count" >

        <div class="col-md-3 text-left">
            <img src="https://firebasestorage.googleapis.com/v0/b/myequitrack.appspot.com/o/profile%2F640.jpg?alt=media&token=64fbbbfb-7d8d-4a06-8d60-5b3867eabaa6" style="width:120px;">
        </div>
        <div class="col-md-9 text-center">
            <h3 class="text-uppercase green" style="margin-top:30px;"> AQHA - American Quarter Horse Association</h3>
        </div>

    </div>
    <hr style="height:1px;width:100%;background-color:#eed093;">-->

    <!-- top tiles -->
    <!-- /top tiles -->



    <div class="row top_tiles text-center" style="margin: 10px 0;">
        <div class="col-md-4 col-sm-3 col-xs-6 tile">
            <span>Total Members</span>
            <h2>{{UsersCount}}</h2>
            <span class="sparkline_totalmembers" style="height: 160px;">
            <canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;">
                </canvas>
            </span>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6 tile">
            <span>Total Horses</span>
            <h2 class="">{{HorsesCount}}</h2>
            <span class="sparkline_totalhourses" style="height: 160px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6 tile">
            <span>Total Rides</span>
            <h2>{{RidesCount}}</h2>
            <span class="sparkline_totalrides" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
        </div>
        <!--<div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span>Total Sessions</span>
            <h2>231,809</h2>
            <span class="sparkline_one" style="height: 160px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Activities <small>Users, Horse And Ride Graph</small></h3>
                    </div>
                    <div class="col-md-6">
                        <!--<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>January 6, 2017 - February 4, 2017</span> <b class="caret"></b>
                        </div>-->
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>January 6, 2017 - February 4, 2017</span> <b class="caret"></b>
                        </div>   
                    </div>
                </div>

                <div class="row top_tiles text-center" style="margin: 10px 0;">
                    <div class="col-md-4 col-sm-3 col-xs-6 tile">
                        <span>New Members</span>
                        <h2>{{FilterUsersCount}}</h2>
                        <span class="sparkline_newmembers" style="height: 160px;">
                            <canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas>
                        </span>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6 tile">
                        <span>New Horses</span>
                        <h2 class="">{{FilterHorsesCount}}</h2>
                        <span class="sparkline_newhourses" style="height: 160px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6 tile">
                        <span>New Rides</span>
                        <h2>{{FilterRidesCount }}</h2>
                        <span class="sparkline_newrides" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
                    </div>
                    <!--<div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span>Total Sessions</span>
            <h2>231,809</h2>
            <span class="sparkline_one" style="height: 160px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>
        </div>-->
                </div>


                <div class="row">

                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">

                        </div>
                </div>


                <!--<div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                    <div style="width: 100%;">
                        
                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">

                        </div>
                    </div>
                </div>-->

                <!--<div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <select class="form-control" style="margin-bottom:10px;" ng-model="keyfilter" ng-options="o for o in filterOption" ng-change="ChangeValues()">
                    </select>
                    
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Distance</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: {{FilterData.Distance}}%;background-color:#eed093"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>Energy</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="60" aria-valuenow="59" style="width: {{FilterData.Energy}}%;background-color:#eed093"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Speed</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar" role="progressbar" data-transitiongoal="40" aria-valuenow="39" style="width: {{FilterData.Speed}}%;background-color:#eed093"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>Time</p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar " role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: {{FilterData.Time}}%;background-color:#eed093"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->

                <div class="clearfix"></div>
            </div>
        </div>

    </div>


    <br>

    
</div>