<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">



                <div class="x_content">

                    <div class="row">

                        <div class="col-md-12 col-sm-112 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Equitrack <small>Announcements</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>


                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-click="Redirect()"><i class="fa fa-plus"></i> Add Announcement</button>

                                        </li>
                                        
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <!-- start accordion -->
                                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel" ng-repeat="img in Imgaes">

                                            <a class="panel-heading" role="tab" data-toggle="collapse" href="#/messages/{{img.$id}}" data-parent="#accordion" aria-expanded="true" aria-controls="div_{{img.$id}}">
                                               
                                                   {{img.AnnouncementTitle}}<br> {{img.MessageText}}<br>
                                                    {{img.Embeddedlink}} <br>-Valid till ( {{img.Expiry}} )
                                                
                                            </a>



                                        </div>
                                    </div>

                                </div>
                                <!-- end of accordion -->


                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

