<style>
    .instruction{
       text-align:center;
       margin-top: 20px;
    }

</style>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-112 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Equitrack <small>Validate Members</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a href='#/vieworgmember'  style="font-weight: bold;text-decoration: underline;padding-right:10px;font-size: 20px;color: #3c9cdd;">
                                                View Existing Members
                                            </a>
                                        </li>
                                        <!--<li>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-click="browseFile()"><i class="fa fa-plus"></i> Browse Data File</button>
                                        </li>-->
                                        <!--<li>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-show="!Errorinrecord" ng-click="uplodeRecord()"><i class="fa fa-plus"></i> Upload File</button>
                                        </li>-->
                                    </ul>
                                    
                                    <input type="file" style="visibility:hidden;position:absolute;width:0;height:0;" id="addphoto">
                                    <div class="clearfix"></div>
                                </div>

                                
                                
                                <div class="row">
<div class="col-md-8">

                                <div class="row" ng-repeat="x in mappings"  ng-show="!showgrid">
                                    <div class="form-group" style="margin-bottom:40px !important">
                                        <div class="col-md-3 col-md-offset-3">
                                            {{x.sourcecol}}
                                        </div>
                                        
                                        <div class="col-md-3">

                                            <select style="padding:5px !important;" id="id111" ng-model="x.selecetedDest" ng-options="item.name for item in x.destArray">
                                                <option value="">
                                                    --Please select--
                                                </option>
                                            </select>
                                            <!--<select id="select111" class="form-control" ng-model="selecetedDest">
                                                {{mappings.destArray.length}}
                                                <option ng-repeat="item in x.destArray" value="{{item.value}}">{{item.name}}</option>

                                            </select>-->
                                        </div>
                                    </div>
                                </div>


</div>

<div class="col-md-4">
        <div class="instruction" ng-show="showbrowsebtn">
                <p style="color:#73879b;text-decoration: underline;
                padding-right: 20px;font-size: 20px;">Instructions</p>
                <h6 style="text-align:left;color:#73879b;">
                <p>Map the required fields, and any optional fields<br/> you would like to see.</p><br/>
                <p><b>The required fields are:</b></p>
                <p><b>1. Member Id</b></p>
                <p><b>2. Member Email</b></p><br/>
                <p>All other fields are optional.</p>
                </h6>
            </div>
</div>

</div>


                                <div class="x_content" id="gridid" >

                                    <div ui-grid="gridOptions" ui-grid-pagination ng-if="showgrid"></div>
                                </div>

                                <div class="row" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" ng-show="!showbrowsebtn" data-toggle="modal" data-target="#modalid" ng-click="browseFile()"><i class="fa fa-file "></i> Browse Members Data File</button>
                                    <button type="button" class="btn btn-primary" ng-show="showbrowsebtn" data-toggle="modal" data-target="#modalid" ng-click="browseFile()"><i class="fa fa-file "></i> ReUpload Data File</button>
                                    <button type="button" class="btn btn-primary" ng-show="!showgrid && showlistdata.length>0" data-toggle="modal" data-target="#modalid" ng-click="manipulateData(showlistdata,mappings)"><i class="fa fa-check"></i> Mapping Done</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-show="!Errorinrecord && showgrid" ng-click="uplodeRecord()"><i class="fa fa-upload"></i> Upload To Server</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="padding-top: 2.2em">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="text-align:center"> We are processing your request.... </p>
                <br />
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>