<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-112 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Equitrack <small>Upload Members Details</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-click="browseFile()"><i class="fa fa-plus"></i> Sample File</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalid" ng-click="browseFile()"><i class="fa fa-plus"></i> Browse Data File</button>
                                        </li>

                                    </ul>
                                    <input type="file" style="visibility:hidden;position:absolute;width:0;height:0;" id="addphoto">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div ui-grid="gridOptions" ui-grid-pagination></div>
                                </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

