<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Equitrack <small> Users Managerment </small></h2>
            </div>
            <input type="text" id="search" style="float:right" ng-keyup="Search()" placeholder="Search" />
            
        </div>

        <div class="clearfix"></div>

        <div class="row">
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                   
                    <div class="x_content">
                        
                   

                        <div ui-grid="gridOptions" ui-grid-pagination></div>

                  

                    </div>
                
                
            </div>
        </div>
    </div>
</div>


<script>
    function Test() {
        alert("lkghjlgkhljkghljh");
    }

</script>