<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Equitrack <small> Horse Managerment </small></h2>
            </div>

            <input type="text" id="search" style="float:right;border:1px solid; width:250px; height:34px;border-radius:5px; padding:5px;" ng-keyup="Search()" placeholder="Search" />
            <button class="btn btn-danger addjust" ng-click="Download()"><i class="fa fa-download mr-5"></i> Download</button>
            <button class="btn btn-primary addjust " ng-click="EmailSend()"><i class="fa fa-envelope mr-5"></i> Email</button>
            <button class="btn btn-info addjust" ng-show="false" ng-click="export('pdf')"><i class="fa fa-file-pdf-o"></i> PDF</button>

        </div>

        <div class="clearfix"></div>

        <div class="row mt-10 pull-right" style="display:inline-flex;">
            <h5 class="mr-10">Filter by Rides Saved:</h5>
            <div class="">
                <div id="reportrangeride" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;margin-right: 10px;    height: 34px;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>January 6, 2017 - February 4, 2017</span> <b class="caret"></b>
                </div> 
                </div>
            <div class="mr-10">
                <div style="" ng-dropdown-multiselect="" search-filter="customFilter" options="example15data" selected-model="example15model" extra-settings="example15settings" translation-texts="example15customTexts">

                </div>
            </div>
            
            <div class="" style="">
                    <button type="button" class="btn btn-primary" ng-click="SelectItem()">Filter</button>
        </div>
             


            </div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_content">



                        <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-move-columns ui-grid-pagination></div>



                    </div>


                </div>
            </div>
        </div>
</div>

<div class="modal" id="sharemodal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:350px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="ClosedShareModel()">&times;</button>
                <h4 class="modal-title">Please Enter Your Email</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin:15px;">
                    <input type="text" class="form-control" id="shareemailaddress" placeholder="Email Address">

                </div>

                <div class="row" style="margin:15px;">
                    <button type="button" class="btn btn-primary addjust "  style="width: 100%;    border-radius: 4px;" ng-click="SendPdf()">Email CSV File</button>
                </div>

            </div>
        </div>
    </div>
</div>
