<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Equitrack <small> Horse Managerment </small></h2>
             
            </div>
            <input type="text" id="search" style="float:right" ng-keyup="Search()" placeholder="Search" />
        </div>
       
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_content">

                    <form class="form-horizontal form-label-left">




                        <!--<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Page</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">


                                <select class="select2_group form-control"
                                        name="category-group" id="categoryGroup"
                                        ng-change="onCategoryChange(itemSelected)"
                                        ng-model="itemSelected" ng-options="usr.email for usr in userToShow"></select>


                            </div>
                        </div>


                        <br />-->

                        <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-pagination></div>

                    </form>

                  

                  


                </div>


            </div>
        </div>
    </div>
</div>


