<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Equitrack <small> Horse Managerment </small></h2>
            </div>
         
            <input type="text" id="search" style="float:right;border:1px solid; width:250px; height:30px;border-radius:5px; padding:5px;" ng-keyup="Search()" placeholder="Search" />
             <button class="btn btn-danger addjust" ng-click="Download()"><i class="fa fa-download mr-5"></i> Download</button>
            <button class="btn btn-primary addjust "><i class="fa fa-envelope mr-5"></i> Email</button>
            <button class="btn btn-info addjust "><i class="fa fa-print mr-5"></i> Print</button>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-8">
                </div>
            <div class="col-md-3">
                <div style="float:right" ng-dropdown-multiselect="" search-filter="customFilter" options="example15data" selected-model="example15model" extra-settings="example15settings" translation-texts="example15customTexts">

                </div>
            </div>
            
            <div class="col-md-1" style="text-align:center;">
                    <button type="button" class="btn btn-primary" ng-click="SelectItem()">Filter</button>
        </div>
                


            </div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_content">



                        <div ui-grid="gridOptions" ui-grid-pagination ></div>



                    </div>


                </div>
            </div>
        </div>
</div>


