<header class="header entry_page">
    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>
    <div class="form_page space_helper clearfix text-center">
    	<div class="page">
            <div class="page_content">
                <div class="form_heading">
                    <h1>Forget Your Password?</h1>
                </div>
                <div class="form_subheading hidden-res">&nbsp;</div>
                <div class="form_label">&nbsp;</div>
            </div>
            <div class="page_form login_forgot_form">
                <form id="forgotForm" name="forgotForm">
                    <div class="form-group">
                        <label for="email" class="sr-only">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" ng-model="email" required>
                        <div class="forgot_label text-center">We will send the Password Reset link to your Email Address.</div>
                    </div>
                    
                    <div class="page_btn">
                        <button type="submit" ng-disabled="!forgotForm.$valid" ng-click="reset()" class="btn btn-block">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="border_foo" ng-include="'includes/footer.html'"></div>
