<div class="modal" id="sharemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:350px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="ClosedShareModel()">&times;</button>
                <h4 class="modal-title">Please Choose Any Of The Action</h4>
            </div>
            <div class="modal-body">

                <button type="button" class="btn btn-default" ng-click="ShareWithFb()">Share with facebook</button>
                <button type="button" class="btn btn-default" ng-click="SendPdf()">Send Pdf Report</button>
            </div>

        </div>
    </div>
</div>