<header class="header">
	<div class="fixed_nav" ng-include="'includes/nav.html'"></div>
    <div class="slider" ng-include="'includes/slider.html'"></div>
</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">
   	<div class="container">
   		<div class="content_body">
               {{aboutus}}

			<!--<div class="page_heading"><h1>EquiTrack - <span class="small">About Us</span></h1></div>
            <div class="page_desc"><p>We are your hosts at EquiTrack, Laly and Sharley Haddon. We are a blended family of both Maori and European descent. Along with our daughter Olivia and son Ben, we are descended from Te Kiri of Ngati Wai, an ancient Maori chief, and his daughter Rahui and from Scottish, Portugese and English settlers and whalers.</p></div>
            <div class="clearfix"></div>
            <div class="about_sec">
            	<div class="about_top_box clearfix">

                        <img src="images/img1.jpg" width="280" height="242" class="img-responsive">
                    </div>
                <div class="content_box">
                        <div class="page_heading">
                            <h1><span class="small">Our Home</span></h1>
                        </div>
                        <div class="page_desc"><p>EquiTrack Horse Rides is just 90 minutes from downtown Auckland city, less than 2 hours from Auckland International Airport and just minutes from Matakana Coast Wine Country. Our tribe, Ngati Wai, were seafarers. They discovered this place after following the call of the whales across the Pacific. Our home is on land that has been handed down through many generations. Here we have gained a lifetime of experience with horses and farming. We would love to share the history and the legends of this special place with you.</p></div>
                    </div>
                </div>
            <div class="clearfix"></div>
            <div class="about_top_box clearfix">
                    <div class="img_box">
                        <img src="images/img1.jpg" width="280" height="242" class="img-responsive">
                    </div>
                    <div class="content_box">
                        <div class="page_heading">
                            <h1><span class="small">Our Farm</span></h1>
                        </div>
                        <div class="page_desc"><p>EquiTrack Horse Rides is just 90 minutes from downtown Auckland city, less than 2 hours from Auckland International Airport and just minutes from Matakana Coast Wine Country. Our tribe, Ngati Wai, were seafarers. They discovered this place after following the call of the whales across the Pacific. Our home is on land that has been handed down through many generations. Here we have gained a lifetime of experience with horses and farming. We would love to share the history and the legends of this special place with you.</p></div>
                    </div>
                </div>
            <div class="clearfix"></div>-->
            </div>
    	</div>

</section>


<div class="" ng-include="'includes/footer.html'"></div>
