<header class="header">
    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>
    <div class="slider" ng-include="'includes/slider.html'"></div>
</header>
<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">
    <div class="container">
        <div class="content_body">
            <div class="page_heading">
                <h1>EquiTrack - <span class="small">Contact Us</span></h1>
            </div>

            <!--<div class="map_area">
                <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39734.779086935465!2d-0.14670717498840333!3d51.50544243271029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2s!4v1452705440779" width="1080" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>-->            
            <div class="contact">
                <div class="form_page clearfix text-center">
                  <div class="page">
                    <div class="page_content">
                      <div class="form_heading">
                        <h1>Contact Us</h1>
                      </div>
                      <div class="form_label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua.</div>
                    </div>
                    <div class="page_form signup_form">
                      <form class="ng-pristine ng-valid">
                        <div class="row">

                         

                          <div class="grid-6">
                            <div class="form-group">
                              <label for="e1" class="sr-only">Firts Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" ng-model="first_name">
                            </div>
                          </div>
                          <div class="grid-6">
                            <div class="form-group">
                              <label for="e2" class="sr-only">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" ng-model="last_name">
                            </div>
                          </div>                            <div class="grid-6">

                                <div class="form-group">

                                    <label for="e1" class="sr-only">Firts Name</label>

                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email address" ng-model="email">

                                </div>

                            </div>

                            <div class="grid-6">

                                <div class="form-group">

                                    <label for="e2" class="sr-only">Last Name</label>

                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile No" ng-model="mobile">

                                </div>

                            </div>


                          <div class="grid-12">
                            <div class="form-group">
                              <label for="e3" class="sr-only">Message</label>
                              <textarea class="form-control" id="msg" placeholder="Message" rows="7" ng-model="msg"></textarea>
                            </div>
                          </div>
                          <div class="grid-12">
                            <div class="page_btn">
                                <button type="submit" class="btn btn-block" ng-click="ContactUs()">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>                
                
                
            </div>
            
        </div>
    </div>
</section>

<!-- Modal -->

<div class="" ng-include="'includes/footer.html'"></div>
