<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <div class="slider" ng-include="'includes/slider.html'"></div>

</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading">

                <h1>EquiTrack - <span class="small">My Stable</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">

                    <div class="breadcrumbs">

                        <ul class="un-styled clearfix">

                            <li><a href="#">My Stable</a></li>

                        </ul>

                    </div>

                    <div class="bc_right_add_btn"> <a href="#add_stable" class="btn btn-border" data-toggle="modal">Add Horse</a>  </div>

                </div>

                <div class="stable_list_wrap">

                    <div ng-show="ZeroStable" style="text-align:center;">
                        <h1 style="font-size:24px;color: #777">You don't own any horse</h1>
                    </div>


                    <div id="floatingBarsG" ng-show="loadingcord">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>

                    <div class="stable_list" ng-repeat="stb in stables">

                        <div class="stable_img">
                        
                             <img data-ng-src="{{stb.photo}}"  ng-src={{stb.photo}} src="{{stb.photo}}" width=" 198" height="160" class="img-responsive">
                         
                        </div>

                        <div class="short_details lora">

                            <div class="stable_row clearfix">

                                <div class="titile">Horse Name:</div>

                                <div class="stable_desc name">{{stb.horse_name}}</div>

                            </div>

                           
                            <div class="stable_row clearfix">

                                <div class="titile">Age:</div>

                                <div class="stable_desc">{{stb.AgeToDisplay}}</div>

                            </div>

                            <div class="stable_row clearfix">

                                <div class="titile">Date of Birth:</div>

                                <div class="stable_desc">{{stb.birthday}}</div>

                            </div>

                            <div class="stable_row clearfix">

                                <div class="titile">Breed :</div>

                                <div class="stable_desc">{{stb.registration}}</div>

                            </div>

                         


                        </div>

                        <div class="stable_link_btn"> 
                        
                            <a href="my-stable-details.html" style="margin-bottom: 10px;" class="btn btn-transparent validn_middle" ng-click="rideDetail(stb)"><i class="fa fa-horse"></i> Horse Details</a> 

                        <a href="#" class="btn btn-transparent validn_middle" ng-click="DeleteHorse(stb)" style="color:red;border:2px solid red;"><i class="fa fa-trash-o"></i> Delete Horse</a> 
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>

</section>


<div class="modal fade modal fade in" id="add_stable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="AddStableDetailsController">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <form>

                <div class="modal-header">
 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>

                </div>

                <div class="modal-body">

                    <div class="edit_stable">

                        <div class="edit_header">

                            <div class="edit_stable_img">

                                <img id="addImg" ng-src={{stbadd.photo}} data-ng-src="{{stbadd.photo}}" src="{{stbadd.photo}}" width="389" height="315" class="img-responsive">

                            </div>

                            <div class="edit_header_text">

                                <div class="page_heading"><h1><span class="small">Add Photo</span></h1></div>

                                <div class="edit_btns">

                                    <input type="file" style="visibility:hidden;position:absolute;width:0;height:0;" id="addphotonewname">

                                    <label class="btn btn-transparent validn_middle"  ng-click="OpenFileDialog()">Add Photo</label>

                                    <!--<button class="btn btn-transparent btn-icon"><i class="fa fa-trash"></i></button>-->

                                </div>

                            </div>

                        </div>

                        <div class="edit_body">

                            <div class="page_heading"><h1><span class="small">Add / Delete Description</span></h1></div>

                            <div class="edit_fields">

                                <div class="row">

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="1" style="color:black;">Horse Name:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="horse_name" ng-model="stbadd.horse_name" placeholder="Horse Name">

                                        </div>

                                    </div>

                                   <!-- <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="2">Breed:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="breed" ng-model="stbadd.breed" placeholder="Breed i.e Arabian" value="Arabian">

                                        </div>

                                    </div>-->

                                    <!--<div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="3">Age:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="age" ng-model="stbadd.age" placeholder="Age" value="">

                                        </div>

                                    </div>-->

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="4" style="color:black;">Date of Birth:</label>

                                        </div>

                                        <div class="grid-9">
                                            <datepicker date-format="MM/dd/yyyy">
                                                <input type="text" class="form-control" id="birthday" ng-model="stbadd.birthday" placeholder="MM/DD/YY" value="July, 16th, 2009">
                                            </datepicker>
</div>

                                    </div>

                                   <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="7" style="color:black;">Breed.</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="registration" ng-model="stbadd.registration" placeholder="Breed" value="0034459871">

                                        </div>

                                    </div>


                                    <div class="form-_sub_group clearfix" ng-repeat="FinalOrg in FinalOrganisations">

                                        <div class="grid-12">

                                            <div class="row">

                                                <div class="grid-9">

                                                    <div class="row">

                                                        <div class="form-group clearfix">

                                                            <div class="grid-4">

                                                                <label class="label" for="s_1" style="color:black;">Association:</label>

                                                            </div>

                                                            <div class="grid-4">
                                                                <select class="form-control" id="org" ng-model="FinalOrg.SelectedOrganisation" ng-change="OnOrganisaionChange(FinalOrg)" ng-options="obj.DisplayName for obj in FinalOrg.Options">
                                                                </select>

                                                            </div>
                                                            <div class="grid-4">
                                                                <input type="text" class="form-control" id="UserId" placeholder="User ID" ng-model="FinalOrg.UserId">

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <!--<div class="grid-4">

                                                    <div class="row">

                                                        <div class="form-group clearfix">

                                                            <div class="grid-6">

                                                                <label class="label" for="s_2" style="color:black;">Number:</label>

                                                            </div>

                                                            <div class="grid-6">

                                                                <input type="text" class="form-control" id="orgNo" ng-model="FinalOrg.SelectedOrganisation.OrganisationNumber" placeholder="Number" style="color:black;">

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>-->
                                                <div class="grid-3">

                                                    <div class="row">

                                                        <div class="form-group clearfix pull-right">

                                                            <div class="grid-6">

                                                                <button type="button" class="btn btn-danger" ng-click="RemoveOrganisation($index)">Delete</button>
                                                            </div>

                                                            

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                    <!--<div class="form-_sub_group clearfix" ng-repeat="asso in assolist">

                                        <div class="grid-12">

                                            <div class="row">

                                                <div class="grid-6">

                                                    <div class="row">

                                                        <div class="form-group clearfix">

                                                            <div class="grid-6">

                                                                <label class="label" for="s_1" style="color:black;">Association {{$index + 2 }}:</label>

                                                            </div>

                                                            <div class="grid-6">

                                                                <input type="text" class="form-control" id="s_1" ng-model="asso.name" placeholder="Association {{$index + 1 }}" value="AERC" style="color:black;">

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="grid-6">

                                                    <div class="row">

                                                        <div class="form-group clearfix">

                                                            <div class="grid-6">

                                                                <label class="label" for="s_2" style="color:black;">Number {{$index + 1 }}:</label>

                                                            </div>

                                                            <div class="grid-6">

                                                                <input type="text" class="form-control" id="s_2" ng-model="asso.number" placeholder="Number {{$index + 1 }}" value="178845RD" style="color:black;">

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>-->



                                    <!--<div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="8">Total Rides:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="totalrides" ng-model="stbadd.totalrides" placeholder="Total Rides" value="34">

                                        </div>

                                    </div>

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="9">Miles:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="distance" ng-model="stbadd.distance" placeholder="Miles" value="140 miles">

                                        </div>

                                    </div>

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="10">Calories:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="energy" ng-model="stbadd.energy" placeholder="Calories" value="1880 kcal">

                                        </div>

                                    </div>
                                    
                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="12">Weight:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="weight" ng-model="stbadd.weight" placeholder="Weight" value="1253 lbs">

                                        </div>

                                    </div>-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer edit_stable_footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block" ng-click="AddNewOrganisation()">Add Equine Organization</button>
                        </div>

                        <div class="col-md-6">
                            <button type="button" class="btn btn-block" ng-click="SaveStable()">Save changes</button>
                            </div>

                        </div>
                </div>

            </form>

        </div>

    </div>

</div>


<div class="" ng-include="'includes/footer.html'"></div>

