<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <div class="slider" ng-include="'includes/slider.html'"></div>

</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading">

                <!--<h1>EquiTrack - <span class="small">Announcements</span></h1>-->
                <h1>EquiTrack -<span class="small"> Message Center</span></h1>
</div>

            <div class="contact">

                <div class="form_page clearfix ">

                    <div class="page" ng-repeat="i in ShowMessages | filter:i.ExpirationDate">

                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-left" style="color:black"><u>From: {{i.OrganisationName}}</u></h4>
                                <img class="" style="width:100%;max-height:400px !important;" src="{{i.MessageImage}}" ng-show="{{i.MessageImage}}">
                                <p style="font-size:20px;" ng-show="{{i.MessageText}}">
                                    {{i.MessageText}}
                                </p>
                                <div class="row mt-10">
                                    <div class="col-md-1" ng-show="i.AnnouncementType">
                                        <img class="mt-5 ml-10" style="width:25px;" src="backend/{{i.AnnouncementType}}">
                                    </div>
                                    <div class="col-md-11 pl-0">
                                        <h4 style="color:black;">{{i.AnnouncementTitle}}</h4>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 ml-15">
                                        <h5>Expires : {{i.ExpirationDate}} | <span style="color:red;"ng-click="openLink(i)">{{i.LinkTitle}}</span></h5>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <hr class="hr" style="background-color:#fb9c06;height:2px;">
                        <!--<div class="row">
                            <div class="col-md-12">
                                <h4 class="text-left"style="color:black"><u>From - American Quarter Horse Association</u></h4>


                                   <p style="font-size:20px;"> AQHA’s Trail Ride Program allows people frome arround
                                    the globe to come together and celebrate their love of
                                    horseback riding</p>


                                <img class="" style="width:100%;max-height:400px !important;" src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Horseracing_Churchill_Downs.jpg">
                                <div class="row mt-20">
                                    <div class="col-md-1">
                                        <img class="mt-5 ml-10" style="width:25px;" src="backend/images/star_Icon.png">
                                    </div>
                                    <div class="col-md-11 pl-0">
                                        <h4 style="color:black">Trail Ride program info</h4>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 ml-15">
                                        <h5>Expires : 3/15/17 | <span style="color:red;"><a href="#">Read more</a></span></h5>
                                    </div>
                                </div>

                            </div>



                        </div>-->
                    </div>





                </div>

            </div>

        </div>

</section>



<!-- Modal -->



<div class="" ng-include="'includes/footer.html'"></div>

