<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <div class="slider" ng-include="'includes/slider.html'"></div>

</header>


<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading"><h1>EquiTrack - <span class="small">News</span></h1></div>

    <div class="clearfix"></div>

    <div class="about_sec">

       
        <div class="content_box">

            <div class="page_heading">

                <h1 style="margin: 0px;"><span class="small" ng-bind-html="news.Title"></span></h1>

            </div>

            <div class="page_desc">
                <p ng-bind-html="news.Content">
                </p></div>

        </div>



        </div>

    <div class="clearfix"></div>

    


        </div>

    </div>

</section>




<div class="" ng-include="'includes/footer.html'"></div>

