<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <div class="slider" ng-include="'includes/slider.html'"></div>

</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading">

                <h1>EquiTrack - <span class="small">Horse Details</span></h1>

            </div>


            <div class="my_stable">

                <div class="clearfix">

                    <div class="breadcrumbs">

                        <ul class="un-styled clearfix">

                            <li><a href="my-stable.html">My Stable</a></li>

                            <li><a href="my-stable-details.html">Horse Details</a></li>

                            <li><a href="last-ride.html">Last Ride</a></li>

                        </ul>

                    </div>

                    <div class="bc_right_add_btn">
                        
                        <a href="#" class="btn btn-transparent btn-icon" ng-click="SocialShare()">
                           <!--socialshare
                           socialshare-provider="facebook"
                           socialshare-text="Myequitrack - Socialsharing"
                           socialshare-hashtags="Myequitrack, Myequitrack-socialshare"
                           socialshare-url="https://myequitracknodejsemail.appspot.com/sharemap?Title=hsdfkjshdfjkhdsjkfhjdskhf&Start=40.711614,-74.012318&End=40.718217,-73.998286"-->
                           
                            <i class="fa fa-share"></i></a>

                         
                    </div>

                </div>

            </div>


            <div class="map_area">

                <div id="floatingBarsG" ng-show="loadingcord">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>

                <div class="map" ng-show="!loadingcord">

                    <div id="map" frameborder="0" style="border:0;width:1080px;height:570px;"></div>

                    <div class="map_nav clearfix">

                    	<div class="pull-left">

                            <!--<a href="#" class="btn btn-transparent"
                               socialshare
                               socialshare-provider="facebook"
                               socialshare-text="720kb AngularJS Socialshare"
                               socialshare-hashtags="angularjs, angular-socialshare"
                               socialshare-url="http://720kb.net">
                                Share me
                            </a>

                            -<a href="#" class="btn btn-transparent"
                               socialshare
                               socialshare-provider="facebook"
                               socialshare-text="Myequitrack - Socialsharing"
                               socialshare-hashtags="angularjs, angular-socialshare"
                               socialshare-url="https://localhost:5000/index.html">
                                Share me
                            </a>-->

                    	<!--<a href="#" class="btn btn-transparent">Map</a>

                    	<a href="#" class="btn btn-transparent">Hybrid</a>

                    	<a href="#" class="btn btn-transparent">Satelite</a>-->

                        </div>

                        <div class="pull-right">

                            <!--<a href="#" class="btn btn-transparent btn-icon" socialshare
                               socialshare-provider="facebook"
                               socialshare-text="Myequitrack - Socialsharing"
                               socialshare-hashtags="Myequitrack, Myequitrack-socialshare"
                               socialshare-url="https://myequitrack.com/dashboard.html"><i class="fa fa-share"></i></a>-->

                        </div>

                    </div>

                </div>

            </div>            

            <div class="dasboard">

                <div class="text-center"><span class="grapgh_label" style="background-color: white;    color: red;    font-size: 20px;    font-weight: bold;">Coming Soon</span></div>


            	<div class="graph_box">

                	<div class="text-center"><span class="grapgh_label">Avg. Speed(mph)</span></div>

                    <div class="graph-container">

                        <div id="graph_1" class="graph-placeholder"></div>

                    </div>

                </div>

                <div class="text-center"><span class="grapgh_label" style="background-color: white;    color: red;    font-size: 20px;    font-weight: bold;">Coming Soon</span></div>



                <div class="graph_box">

                	<div class="text-center"><span class="grapgh_label">Altitude</span></div>

                    <div class="graph-container">

                        <div id="graph_2" class="graph-placeholder"></div>

                    </div>

                </div>

                <div class="text-center"><span class="grapgh_label" style="background-color: white;    color: red;    font-size: 20px;    font-weight: bold;">Coming Soon</span></div>


                <div class="graph_box">

                	<div class="text-center"><span class="grapgh_label">Heart Rate</span></div>

                    <div class="graph-container">

                        <div id="graph_3" class="graph-placeholder"></div>

                    </div>

                </div>

            </div>

            

        </div>

    </div>

</section>



<div class="" ng-include="'includes/footer.html'"></div>



