<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <div class="slider" ng-include="'includes/slider.html'"></div>

</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading">

                <h1>EquiTrack - <span class="small">My Stable</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">

                    <div class="breadcrumbs">

                        <ul class="un-styled clearfix">

                            <li><a href="my-stable.html">My Stable</a></li>

                            <li><a href="my-stable-details.html">Horse Details</a></li>

                            <li><a href="ride-history.html">History</a></li>

                            <li><a href="ride-history.html">{{stb.horse_name}}</a></li>

                        </ul>
                        
                    </div>

                    <!--<div class="bc_right_add_btn"> <a href="#add_stable" class="btn btn-border" data-toggle="modal"> Add Manual Ride</a> </div>-->
           
                </div>

            </div>

            <div class="stable_history">

            	<ul class="un-styled">

                    <li class="history_block" ng-repeat="hist in histories">

                        <div class="history_header">

                            <div class="date_area"><h2>{{hist.TimeToDisplay}}</h2></div>

                            <div class="ride_det" style="width: 600px;">

                                <div class="his_head pull-left"><h2> <span class="brand-color"></span></h2> </div>

                                <div class="btn_togle  pull-right">

                                    <a href="#" ng-click="RideDetail(hist)" class="btn btn-sm" style="border: 2px solid #f5ca73;background-color: transparent;color:#f5ca73">Ride Detail</a>

                                    <a href="#" ng-click="SeeMap(hist)" class="btn btn-sm" style="border: 2px solid #f5ca73;background-color: transparent;color:#f5ca73">See on Map</a>
                                    <a class="btn btn-transparent btn-icon" data-toggle="modal" ng-click="UpdateRide(hist)" ng-show="hist.ismanualride==1"><i class="fa fa-pencil"></i></a>

                                    <!--<a href="#" class="btn btn-transparent btn-icon" ng-click="DeleteRide(hist)" style="color: red;border: 2px solid red;" ng-show="hist.ismanualride==1">-->
                                    <a href="#" class="btn btn-transparent btn-icon" ng-click="DeleteRide(hist)" style="color: red;border: 2px solid red;">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                </div>

                            </div>

                            <span style="color: red;" ng-if="hist.ismanualride == 1">This is A Manual Ride</span>

                        </div>

                        <div class="history_body">


                            <!--<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input class="span2" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>-->


                            <div class="date_area">

                                <div class="box clearfix">

                                    <div class="title_text">Distance:</div>

                                    <div class="desc_text">{{hist.total_distance}}</div>

                                </div>

                                <div class="box clearfix">

                                    <div class="title_text">Time:</div>

                                    <div class="desc_text">{{hist.total_time}}</div>

                                </div>

                                <div class="box clearfix">

                                    <div class="title_text">Avg Speed:</div>

                                    <div class="desc_text">{{hist.average_speed}} mph</div>

                                </div>

                            </div>

                            <div class="ride_det">

                                <div class="box clearfix">

                                    <div class="title_text">Top Speed:</div>

                                    <div class="desc_text">{{hist.top_speed}} mph</div>

                                </div>

                                <div class="box clearfix">

                                    <div class="title_text">Horse Energy:</div>

                                    <div class="desc_text">{{hist.energy}}</div>

                                </div>

                                <div class="box clearfix">

                                    <div class="title_text">My Calories:</div>

                                    <div class="desc_text">{{hist.calories}} kcal</div>

                                </div>

                            </div>

                        </div>

                    </li>

                 

                </ul>

            </div>

        </div>

    </div>

</section>



<div class="modal" id="add_ride" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">


            <form >

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title" id="myModalLabel" style="text-align: center;">{{stb.horse_name}}</h4>

                </div>

                <div class="modal-body" style="color:black;">

                    <div class="edit_stable">

                        <div class="edit_body">

                            <div class="page_heading"><h1><span class="small">Update Manual Ride</span></h1></div>

                            <div class="edit_fields">

                                <div class="row">

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="1" style="color:black;">Start Ride:</label>

                                        </div>

                                        <div class="grid-6">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type="text" class="form-control" id="StartRide"  placeholder="MM/DD/YY HH:mm:ss">

                                            </div>

                                          
                                        </div>


                                        <div class="grid-3">

                                            <a class="btn btn-sm" style="border: 2px solid #f5ca73;background-color: transparent; color:#f5ca73">Done</a>

                                        </div>
                                    </div>

                                   

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="4" style="color:black;">End Ride</label>

                                        </div>

                                        <div class="grid-6">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type="text" class="form-control" id="EndRide"  placeholder="MM/DD/YY HH:mm">

                                            </div>

                                        </div>


                                        <div class="grid-3">

                                            <a class="btn btn-sm" style="border: 2px solid #f5ca73;background-color: transparent; color:#f5ca73">Done</a>

                                        </div>

                                    </div>

                                  


                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="7" style="color:black;">Weather</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="Weather"  placeholder="Weather">

                                        </div>

                                    </div>

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="7" style="color:black;">Ground Condition</label>

                                        </div>

                                        <div class="grid-9">

                                            <select class="form-control" id="gndcondition" ng-model="addride.ground_condition">
                                                <option selected>Select</option>
                                                <option>Excellent</option>
                                                <option>Average</option>
                                                <option>Poor</option>
                                                <option>Hard</option>
                                                <option>Sandy</option>
                                                <option>Deep</option>
                                                <option>Sticky</option>
                                                <option>Wet</option>
                                                <option>Muddy</option>
                                                <option>Soft</option>

                                            </select>

                                        </div>

                                    </div>

                                    

                                    <div class="form-group clearfix">

                                        <div class="grid-3">

                                            <label class="label" for="7" style="color:black;">Distance:</label>

                                        </div>

                                        <div class="grid-9">

                                            <input type="text" class="form-control" id="Distance"  placeholder="Distance" ng-keydown="CheckNumber($event)">

                                        </div>

                                    </div>

                                    

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer edit_stable_footer">

                    <button type="button" class="btn btn-block" ng-click="UpdateRideToDataBase()">Update Ride </button>

                </div>

            </form>

        </div>

    </div>

</div>


<div class="modal" id="editMapModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> 

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">


   

                
                    <input id="pac-input" class="controls" type="text" placeholder="Start Ride">
        
                    <input id="pac-input1" class="controls" type="text" placeholder="End Ride">
           




                <!--<input id="pac-input" class="controls" type="text" placeholder="Search Box">

                <input id="pac-input" class="controls" type="text" placeholder="Search Box">-->


                <div id="map" style="height:400px;  "></div>



            <div style="height:100px; padding-top:30px">
                <center>

                    <button type="button" class="btn btn-danger" ng-click="CancelCoods()" style="background-color:red;width: 300px; height: 60px">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="SaveCoods()" style="width: 300px; height: 60px;">Save</button>

                </center>
            </div>


            

        </div>

    </div>

</div>

<div class="" ng-include="'includes/footer.html'"></div>


        