
<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">
    <div class="container">
        <div class="content_body" ng-show="type==1">


            <div class="page_heading">

                <h1>EquiTrack - <span class="small">Dashboard</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">





                </div>

            </div>



            <div class="map_area">

                <div class="map">

                    <div id="map" frameborder="0" style="border:0;width:1080px;height:570px;"></div>




                    <div class="map_nav clearfix">

                        <div class="pull-left">



                        </div>

                        <div class="pull-right">


                        </div>

                    </div>

                </div>

            </div>




        </div>

        <div class="content_body" ng-show="type==2">


            <div class="page_heading">

                <h1>EquiTrack - <span class="small">Dashboard</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">





                </div>

            </div>



            <div class="map_area">

                <div class="map">

                    <div id="map" frameborder="0" style="border:0;width:1080px;height:570px;"></div>




                    <div class="map_nav clearfix">

                        <div class="pull-left">



                        </div>

                        <div class="pull-right">


                        </div>

                    </div>

                </div>

            </div>




        </div>



        


        <div class="content_body" ng-show="type==3">

          
            <div class="page_heading">

                <h1>EquiTrack - <span class="small">Dashboard</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">

                  

                    

                </div>

            </div>



            <div class="map_area">

                <div class="map">

                    <div id="map" frameborder="0" style="border:0;width:1080px;height:570px;"></div>




                    <div class="map_nav clearfix">

                        <div class="pull-left">

                           

                        </div>

                        <div class="pull-right">

                          
                        </div>

                    </div>

                </div>

            </div>  




        </div>




    </div>
</section>
