<header class="header">
	<div class="fixed_nav" ng-include="'includes/nav.html'"></div>
    <div class="slider" ng-include="'includes/slider.html'"></div>
</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">
   	<div class="container">
   		<div class="content_body">
			<div class="page_heading"><h1>EquiTrack - <span class="small">Our Sponsors</span></h1></div>
            <!--<div class="page_desc"><p>We are your hosts at EquiTrack, Laly and Sharley Haddon. We are a blended family of both Maori and European descent. Along with our daughter Olivia and son Ben, we are descended from Te Kiri of Ngati Wai, an ancient Maori chief, and his daughter Rahui and from Scottish, Portugese and English settlers and whalers.</p></div>-->
            <div class="clearfix"></div>
            <div class="about_sec">
                <div class="row">


                    <div class="grid-4" ng-repeat="img in Imgaes">
                        <a href={{img.HrefLink}} target="_blank">
                            <img id="addImg" ng-src={{img.Url}} src="{{img.Url}}" width="389" height="315" >
                            <div style="font-size:20px;padding-top:10px;margin-top:10px;margin-bottom:10px;"> {{img.DisplayName}}  </div>
                        </a>
                    </div>

                  



                   






                </div>
            </div>
               <div class="clearfix"></div>

    	</div>
    </div>
</section>


<div class="" ng-include="'includes/footer.html'"></div>
