<header class="header">

    <div class="fixed_nav" ng-include="'includes/nav.html'"></div>

    <!--<div class="slider" ng-include="'includes/slider.html'"></div>-->

</header>

<section class="inner_pages" data-0="margin-top:50px;" data-400="margin-top:-150px;">

    <div class="container">

        <div class="content_body">

            <div class="page_heading">

                <h1>EquiTrack - <span class="small">Manage Static Content</span></h1>

            </div>

            <div class="my_stable">

                <div class="clearfix">

                    <div class="breadcrumbs">

                        <ul class="un-styled clearfix">

                            <li><a href="javascript:void(0)" ng-click="Update(1)">About Us</a></li>

                            <li><a href="javascript:void(0)" ng-click="Update(2)">Footer</a></li>

                            <li><a href="javascript:void(0)" ng-click="Update(3)">News</a></li>

                             <li><a href="javascript:void(0)" ng-click="Update(4)">Sponsers</a></li>

                        </ul>

                    </div>

                    

                </div>

                <div class="stable_list_wrap">

                    <div class="stable_details">

                       <div class="page_form signup_form">

                      <form class="ng-pristine ng-valid">

                        <div class="row">


                                                 <div class="grid-12">

                            <div class="form-group">

                              <label for="e3" class="sr-only">Message</label>

                              <textarea class="form-control" id="msg" placeholder="Content" rows="7" ng-model="msg"></textarea>


                            </div>

                          </div>

                          <div class="grid-12">

                            <div class="page_btn">

                                <button type="submit" class="btn btn-block" ng-click="UpdateContent()">Update Content</button>

                            </div>

                          </div>

                        </div>

                      </form>

                    </div>
                      
                    </div>

                   

                   
                </div>

            </div>

        </div>

    </div>

</section>

<!-- Modal -->



<div class="" ng-include="'includes/footer.html'"></div>


